[[migxLoopCollection:append=`<br>`?
    &packageName=`romanescobackyard`
    &classname=`rmOption`
    &where=`[{"alias":"[[+category]]"}]`
    &tpl=`rawName`
]]
[[migxLoopCollection:prepend=`<ul style="list-style: initial">`:append=`</ul>`?
    &packageName=`releafbrain`
    &classname=`releafNeed`
    &where=`[{"parent_id":"[[+id]]"},{"deleted:=":0}]`
    &tpl=`migxTitleRowLI`
    &outputSeparator=``
    &sortConfig=`[{"sortby":"createdon","sortdir":"ASC"}]`
]]