<thead>
<tr>
    <th>[[%releafbrain.need.heading]]</th>
    <th>[[%releafbrain.need.community_size]]</th>
    <th>[[%releafbrain.need.category]]</th>
    <th>[[%releafbrain.need.organization]]</th>
    <th></th>
</tr>
</thead>
