<thead>
<tr>
    <th>[[%earthbrain.component.heading]]</th>
    <th>[[%earthbrain.component.inputs_heading]]</th>
    <th>[[%earthbrain.component.outputs_heading]]</th>
    <th>[[%earthbrain.component.data_stage]]</th>
    <th>[[%earthbrain.component.data_zone]]</th>
    [[-<th>[[%earthbrain.component.maintainer]]</th>]]
</tr>
</thead>
