<tr>
    <td>[[+title]]</td>
    <td class="collapsing">
        <a class="small secondary compact ui button" href="[[~[[++releafbrain.offer_pledge_id]]? &need=`[[+id]]`]]">
            [[%releafbrain.need.respond]]
        </a>
    </td>
</tr>